:root {
    /* Light Mode colors */
        /* Background colors */
            --background: #dddbf5;
            --background-sidebar: #292288;
            --background-footer: #534ace;
    
        /* Font colors*/
            --font: #d8d8d8;
            --font-hover: #7970f3;
            --font-footer-icon: #e7e7e7;

            --font-purple: #7d69a3;
            --font-purple-2: #69558f;

            /* page:: Index */
                --wave-img: url(../img/wave-light-mode.png);

            /* page:: DEV-Functions */
                --function: #ececec;
                --function-hover: #ec98b2;

                --function-active: #e97094;
                --function-active-hover: #bd4b6d;

                --function-box-background: #ccc9e9;
                --function-input-background: #f5f5dc;


    /* Dark Mode colors */
    .dark-mode{
        /* Background colors */
            --background: #1f1f1f;
            --background-sidebar: #141414;
            --background-footer: #181818;

        /* Font colors*/
            --font: #818181;
            --font-hover: #f1f1f1;
            --font-footer-icon: #f1f1f1;

            --font-purple: #665883;
            --font-purple-2: #5d4e7a;

            /* page:: Index */
                --wave-img: url(../img/wave-dark-mode.png);

            /* page:: DEV-Functions */
                --function: #f1f1f1;
                --function-hover: #d89191;

                --function-active: #e97094;
                --function-active-hover: #bd4b6d;

                --function-box-background: #252525;
                --function-input-background: #ebebeb;
    }
}