
.wave-background{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 580px;
    background: var(--wave-img);
    background-size: 1000px 580px;
}

.wave-1 {
    animation: animate-1 30s linear infinite;
    z-index: 0;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0px;
}

.wave-2 {
    animation: animate-2 15s linear infinite;
    z-index: -1;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

.wave-3 {
    animation: animate-1 30s linear infinite;
    z-index: -2;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

.wave-4 {
    animation: animate-2 5s linear infinite;
    z-index: -3;
    opacity: 0.7;
    animation-delay: 0s;
    bottom: 20px;
}

@keyframes animate-1 {
      0% { background-position-x: 0;}
    100% { background-position-x: 1000px;}
}

@keyframes animate-2 {
    0% { background-position-x: 0;}
  100% { background-position-x: -1000px;}
}