.info-box{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -60%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.info-img{
    width: 250px;
    height: 250px;
}

.info-name{
    font-size: 30px;
    font-weight: 1000;
    margin-top: 10px;
    text-align: center;

    color: var(--font-purple);
}

.info-description{
    font-size: 23px;
    font-weight: 600;
    margin-top: 36px;
    text-align: center;

    color: var(--font-purple-2);
}