body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

section{
    width: 100%;
    height: 100vh;
}

.home{
    background-color: #e6d1ff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-pic{
    width: 200px;
    height: 200px;
    filter: drop-shadow(2px 2px 15px #8f8f8f);
}

.projects{
    background-color: #823ecf;
}

.skills{
    background-color: #a86eeb;
}


.button{
    width: 50px;
    height: 50px;

    background-color: #e6d1ff;
    border-radius: 50%;

    position: fixed;
    left: 30px;
    bottom: 30px;
    filter: drop-shadow(2px 2px 8px #333333);
}


.topbar {
    padding: 14px 20px;
    height: 50px;

    background-color: #e6d1ff;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    margin-bottom: -76px;
}

.right-items img {
    margin-left: 15px;
    height: 45px;
}