body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: #abe8ec;

    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
    width: 1150px;
    height: 680px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 6px 6px 15px #659497;

    display: flex;
    align-items: center;
}

/*
.center-left{
    height: 680px;
    width: 80px;
    position: absolute;
    left: 0px;
    border-radius: 0px 30px 30px 0px;
    background-color: #ffffff;
    box-shadow: 6px 6px 15px #659497;
}

.center-right{
    height: 680px;
    width: 80px;
    position: absolute;
    right: 0px;
    border-radius: 30px 0px 0px 30px;
    background-color: #ffffff;
    box-shadow: 6px 6px 15px #659497;
}
*/

.left_sec{
    width: 350px;
    height: 91%;
    border-right: solid 2px #45959b;
}

.left_sec_top{
    margin-top: 20px;

    display: flex;
    justify-content: center;
}

.left_sec_bottom{
    margin-top: -8px;
    font-size: 14.5px;
    font-family: "Rajdhani", sans-serif;
    color: #45959b;

    display: flex;
    justify-content: center;
}

.left_sec_foto{
    width: 200px;
    height: 200px;
    border-radius: 70px;
    border: solid 3px #45959b;
}

.right_sec{
    width: 100cqmin;
    height: 91%;
    overflow: auto;
    background-color: #ffffff;
}
