* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background);
}

.sidebar {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    padding-top: 60px;
    position: fixed;
    z-index: 100;
    overflow-x: hidden;
    transition: 0.2s;
    background-color: var(--background-sidebar);
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: var(--font);
    display: block;
    transition: 0.1s;
}

.sidebar a:hover {
    color: var(--font-hover);
}

.sidebar label {
    position: relative;
    margin: 0px auto;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    font-size: 28px;
    right: 15px;
    margin-left: 20px;
}

.sidebar .dark_mode {
    display: grid;
    margin: 440px auto 0px auto;
}

.sidebar .dark_mode .icon_sun_moon {
    font-size: 22px;
    color: var(--font);
    padding-bottom: 7px;
}

.sidebar .dark_mode #moon{
    display: none;
}

.openbtn {
    font-size: 23px;
    cursor: pointer;
    background-color: #575757de;
    color: white;
    border: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 15px;
    border-radius: 50px;
    width: 52px;
    height: 52px;
}

.openbtn:hover {
    background-color: #444;
}

.switch {
    position: relative;
    display: flex;
    width: 50px;
    height: 30px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #acacac;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #362ea5;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #362ea5;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(20px);
}

footer {
    background-color: var(--background-footer);
    color: var(--font-footer-icon);
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 10px;
}

.icon i {
    cursor: pointer;
    transition: transform 0.2s;
}

.icon i:hover {
    transform: scale(1.1);
}

#copy-message {
    margin-top: 10px;
    font-size: 14px;
    color: var(--font-footer-icon);
}